/* The Issue Section */
.the-issue-section {
  background-image: url("../assets/about-us/annie-spratt-427339-unsplash.png");
  background-position-x: 35%;
  background-color: var(--dark-color);
  padding: 2rem 8%;
}

.the-issue-card-head {
  padding: 0.8rem 2.5rem;
}

.the-issue-card {
  padding: 0 2rem;
  margin: 8.5rem 0 0 0;
}

.the-issue-card-head {
  top: -1.2rem;
}

.the-issue-card-description {
  margin: 0 0 8% 0;
}

/* Mission and Values Section */
.mission-section {
  padding: 2rem 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--dark-color);
  color: var(--white);
}

.mission-head {
  font-size: 0.875rem;
  background-color: var(--white);
  color: var(--dark-color);
  padding: 0.8rem 1rem;
}

.mission-description {
  font-size: 1.375rem;
  font-weight: bold;
  margin: 2rem 0 4rem 0;
}

.mission-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
  row-gap: 1.75rem;
}

.mission-card {
  text-align: start;
}

.mission-card img {
  width: 40px;
}

.mission-card-heading {
  font-weight: bold;
  margin: 0.8rem 0;
}

.mission-card-description {
  font-size: 0.875rem;
  font-weight: 200;
}

/* Our Team Section */

.team-section {
  padding: 2rem 8%;
  background-color: var(--white);
  color: var(--dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.team-head {
  font-size: 0.875rem;
  padding: 0.8rem 2rem;
  position: static;
}

.team-heading {
  font-size: 1.375rem;
  font-weight: bold;
  margin: 1.875rem 0;
}

.team-description {
  font-size: 0.875rem;
  font-weight: 200;
}

.team-members {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6%;
  row-gap: 1.5rem;
}

.team-member {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.team-member img {
  width: 100%;
}

.team-member-details {
  font-size: 0.875rem;
  font-weight: 200;
  background-color: var(--dark-color);
  color: var(--white);
  padding: 1rem 11%;
}

/* Our Impact Section */

.impact-section {
  padding: 2rem 8%;
  background-image: url("../assets/about-us/Impact\ Background.png");
  background-size: cover;
  background-color: var(--dark-color);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.impact-head {
  background-color: var(--white);
  color: var(--dark-color);
  font-size: 0.875rem;
  padding: 0.8rem 2rem;
}

.impact-description {
  font-size: 1.375rem;
  font-weight: bold;
  margin: 2rem 0;
}

.impact-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.impact-stat {
  width: 60%;
  margin-bottom: 2rem;
}

.impact-stat-number {
  font-size: 2.75rem;
  font-family: "Flood Std";
}

.impact-stat-details {
  font-weight: bold;
}

/* Activity Section */
.activity-section {
  padding: 2rem 8%;
  background-color: var(--dark-color);
}

.activity-text {
  font-size: 2.75rem;
  font-family: "Flood Std";
  color: var(--white);
  text-align: center;
  margin: 2rem 0;
  padding: 0 5%;
}

.slides {
  display: flex;
  /* justify-content: center; */
  overflow-x: auto;
  padding-top: 2rem;
  width: 92vw;
}

.slides::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.slide {
  background-color: var(--white);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 20%;
}

.slide-head {
  background-color: var(--white);
  color: var(--dark-color);
  padding: 0.5rem 2.5rem;
  font-size: 0.875rem;
  position: absolute;
  top: -1rem;
}

.slide img {
  width: 84vw;
}

.slide-text-heading {
  padding: 0 9%;
  font-size: 1.375rem;
  font-weight: bold;
  margin: 1.5rem 0;
}

.slide-text-description {
  padding: 0 10%;
  font-weight: 200;
}

.slide-read-more-button {
  padding: 0.5rem 1.8rem;
  margin: 2rem 0;
}

.bullets {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.bullets a {
    margin: 2px;
}

.bullets p {
    background-color: var(--white);
    width: 12px;
    height: 12px;
    border-radius: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  /* The Isuue Section */
  .the-issue-section {
    padding: 4rem 8%;
  }

  .the-issue-card {
    padding: 0 8%;
    margin: 5rem 0 0 0;
  }

  .the-issue-card-head {
    top: -1.2rem;
  }

  /* Mission and Values Section */
  .mission-section {
    padding: 4rem 8%;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
  }

  .mission-description {
    font-size: 1.75rem;
  }

  .mission-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .mission-card {
    text-align: start;
  }

  .mission-card-heading {
    font-size: 1.375rem;
  }

  /* Our Team Section */

  .team-section {
    padding: 4rem 8%;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
  }

  .team-heading {
    font-size: 2.25rem;
    margin: 0;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .team-description {
    font-size: 1rem;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-left: 15%;
  }

  .team-members {
    row-gap: 0;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  .team-member {
    width: 90%;
  }

  .team-member-details {
    position: relative;
    bottom: 1.5rem;
    left: 10%;
  }

  /* Our Impact Section */

  .impact-section {
    padding: 4rem 8%;
  }

  .impact-description {
    font-size: 2.25rem;
    margin: 2rem 0;
  }

  .impact-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
    row-gap: 4rem;
  }

  .impact-stat {
    width: 100%;
  }

  .impact-stat-number {
    font-size: 4.5rem;
  }

  .impact-stat-details {
    font-size: 1.375rem;
  }

  /* Activity Section */
  .activity-section {
    padding: 4rem 8%;
  }

  .activity-text {
    text-align: start;
    margin: 2rem 15% 2rem 0;
    padding: 0;

  }

  .slide {
    align-items: flex-start;
    text-align: start;
    margin-right: 4.5%;
  }

  .slide-head {
    margin: 0 9%;
  }

  .slide img {
    width: 35vw;
  }

  .slide-read-more-button {
    margin: 2rem 9%;
  }

  .bullets {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
    .donate-button {
        justify-self: flex-end;
    }
  .the-issue-section {
    padding: 6rem 11% 5rem 11%;
    justify-content: space-between;
  }

  .the-issue-slogan {
    order: -1;
    margin: 0;
  }

  .the-issue-card {
    width: 50%;
    margin: 0;
    padding: 0 6% 3rem 6%;
    position: relative;
    top: 8rem;
  }

  .the-issue-card-description {
    margin: 0;
    font-size: 1.75rem;
  }

  /* Mission and Values Section */
  .mission-section {
    padding: 8rem 11%;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
  }

  .mission-description {
    font-size: 2.75rem;
    margin: 2rem 0 8.75rem 0;
  }

  .mission-cards {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 4%;
    row-gap: 3.75rem;
  }

  .mission-card {
    text-align: start;
  }

  .mission-card img {
    width: 59px;
  }

  .mission-card-heading {
    font-size: 1.75rem;
  }

  .mission-card-description {
    font-size: 1rem;
  }

  /* Our Team Section */

  .team-section {
    padding: 8rem 11%;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
  }

  .team-heading {
    font-size: 2.75rem;
    margin: 0;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 70%;
  }

  .team-description {
    font-size: 1.25rem;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .team-members {
    row-gap: 0;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3%;
    margin-top: 3.5rem;
  }

  .team-member {
    width: 90%;
  }

  .team-member-details {
    font-size: 1rem;
    position: relative;
    bottom: 1.5rem;
    left: 10%;
  }

  /* Our Impact Section */

  .impact-section {
    padding: 8rem 11%;
  }

  .impact-description {
    font-size: 2.75rem;
    margin: 2.625rem 0;
    width: 70%;
  }

  .impact-stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3%;
    margin-top: 2.625rem;
  }

  .impact-stat {
    width: 100%;
    margin: 0;
  }

  .impact-stat-number {
    font-size: 4.5rem;
  }

  .impact-stat-details {
    font-size: 1.75rem;
  }

  /* Activity Section */
  .activity-section {
    padding: 8rem 11%;
  }

  .activity-text {
    font-size: 4.5rem;
    text-align: start;
    margin: 2rem 15% 2rem 0;
    padding: 0;

  }

  .slides {
    width: 88.15vw;
  }

  .slide {
    align-items: flex-start;
    text-align: start;
    margin-right: 3%;
  }

  .slide-head {
    margin: 0 11%;
  }

  .slide-text-heading {
    font-size: 1.75rem;
    padding: 0 8% 0 11%;
  }

  .slide-text-description {
    font-size: 1.25rem;
    padding: 0 8% 0 11%;
  }

  .slide img {
    width: 37vw;
  }

  .slide-read-more-button {
    margin: 2rem 11%;
    padding: 0.8rem 2rem;
  }

  .bullets {
    display: none;
  }
}
