label {
    font-size: 0.6875rem;
}

input, select {
    width: 100%;
    color: var(--light-green);
    background-color: var(--dark-color);
    border: none;
    border-bottom: 2px solid var(--light-green);
    padding: 0.5rem 0;
    font-weight: 200;
}


header {
    text-align: center;
    padding: 1.5rem 0;
}

.about-head {
    background-color: var(--white);
    color: var(--dark-color);
    font-size: 1.125rem;
    font-weight: bold;
}

.form-section {
    background-image: url('../assets/donation/annie-spratt-427340-unsplash.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-color: var(--dark-color);
    padding: 2rem 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-tagline {
    font-size: 2rem;
    font-family: "Flood Std";
    color: var(--white);
    text-align: center;
    margin-bottom: 1.5rem;
}

.donation-form {
    background-color: var(--dark-color);
    padding: 2rem 10%;
    color: var(--white);
}

.your-information {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 25px;
    column-gap: 15px;
}

.flex-div {
    display: flex;
    flex-direction: column;
}

.your-information p,
.payment-information p {
    font-size: 1.375rem;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}


.f-name {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.l-name {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}

.street-address {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}

.city {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.states {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

.z-code {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}

.email {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
}



.payment-information {
    margin: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5rem;
    column-gap: 1rem;
}



.payment-information p {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.card-number {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

}

.expiry-date {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.expiry-date label {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}


.security-code {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.security-code input {
    width: 50%;
}

.form-foot {
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
}

.donation-form-text {
    margin: 0 4% 1rem 0;
    font-size: 1.125rem;
    font-weight: bold;
}

.payment-button {
    padding: 0.8rem 4%;
}


.go-back-link {
    color: var(--light-green);
    text-decoration: underline;
    font-weight: 200;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    label {
        font-size: 0.875rem;
    }
    
    input, select {
        width: 100%;
        border-bottom: 2.5px solid var(--light-green);
        padding: 0.8rem 0;
        font-size: 1.25rem;
    }

    header {
        padding: 2rem 0;
    }
    
    .about-head {
        font-size: 1.375rem;
    }

    .form-section {
        padding: 4rem 8%;
    }

    .form-tagline {
        font-size: 2.75rem;
        margin: 0 12% 2rem 12%;
    }

    .donation-form{
        padding: 4rem 8%;
    }

    .your-information,
    .payment-information {
        row-gap: 1.625rem;
        column-gap: 4rem;
    }

    .your-information p,
    .payment-information p {
        font-size: 1.75rem;
    }

    .expiry-date {
        column-gap: 2rem;
    }

    .form-foot {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 2.8rem;
    }

    .donation-form-text {
        font-size: 1.75rem;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .payment-button {
        font-size: 1.375rem;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .go-back-link {
        align-self: center;
    }
}

@media only screen and (min-width: 1280px) {
    label {
        font-size: 0.875rem;
    }
    
    input, select {
        width: 100%;
        border-bottom: 2.5px solid var(--light-green);
        padding: 0.8rem 0;
        font-size: 1.25rem;
    }

    header {
        padding: 2rem 0;
    }
    
    .about-head {
        font-size: 1.75rem;
    }

    .form-section {
        padding: 5rem 11%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .form-tagline {
        font-size: 4.5rem;
        text-align: start;
        margin: 0 0 0 6.5%;
        width: 40%;
        order: 1;
    }

    .donation-form{
        width: 60%;
        padding: 4rem 5%;
    }

    .your-information,
    .payment-information {
        row-gap: 1.625rem;
        column-gap: 4rem;
    }

    .your-information p,
    .payment-information p {
        font-size: 1.75rem;
    }

    .expiry-date {
        column-gap: 2rem;
    }

    .form-foot {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 2.8rem;
    }

    .donation-form-text {
        font-size: 1.75rem;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .payment-button {
        font-size: 1.375rem;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .go-back-link {
        align-self: center;
    }
}