/* Global CSS */

@font-face {
  font-family: "Flood Std";
  src: url("../fonts/floodstd.otf") format("opentype");
}

:root {
  --light-green: #c1f7d5;
  --dark-color: #354463;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

button {
  border: none;
}

button:hover {
  background-color: var(--dark-color);
  color: var(--light-green);
}

.green-button {
  background-color: var(--light-green);
  color: var(--dark-color);
  font-weight: bold;
  padding: 2%;
  margin: 2% 0;
  border-radius: 50px;
}

.dark-head {
  background-color: var(--dark-color);
  font-size: 0.875rem;
  font-weight: 200;
  text-align: center;
  color: var(--white);
  padding: 2% 8%;
  width: fit-content;
  position: relative;
  top: -1rem;
}

/* Header */
.head {
  background-color: var(--white);
  padding: 8%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
  align-items: center;
}

.heading {
  font-size: 1.125rem;
}

.pages {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
}

.pages a {
  font-size: 0.875rem;
  font-weight: 200;
  line-height: 1.4;
  margin: 2%;
}

.donate-button {
  grid-column: 1 / 3;
  justify-self: center;
  text-align: center;
  font-size: 1.125rem;
  width: 100%;
}

.donate-button:hover{
  background-color: var(--dark-color);
  color: var(--light-green);
}

/* The Issue Section */
.the-issue-section {
  background-image: url("../assets/home/annie-spratt-135307-unsplash.png");
  background-size: cover;
  background-position-x: 80%;
  padding: 8%;
}

.the-issue-slogan {
  font-family: "Flood Std", Helvetica, sans-serif;
  font-size: 2.75rem;
  color: var(--white);
}

.the-issue-card {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 7%;
  margin: 35% 0 0 0;
}

.the-issue-card-description {
  font-size: 1.375rem;
  font-weight: bold;
  margin: 2% 0 8% 0;
}

.the-issue-card-read-more {
  font-size: 0.875rem;
  font-weight: 200;
  text-decoration: underline;
  margin: 2% 0 8% 0;
}

/* Take Action Section */

.take-action {
  background-color: var(--light-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 8%;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8%;
  row-gap: 20%;
  margin: 12% 0 30% 0;
}

.action-head {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 4%;
}

.action-text {
  font-size: 0.875rem;
  font-weight: 200;
}

/* What we do section */

.what-we-do-section {
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8%;
}

.what-we-do-head {
  background-color: var(--white);
  color: var(--dark-color);
  position: static;
}

.what-we-do-description {
  font-size: 1.375rem;
  font-weight: bold;
  color: var(--white);
  margin: 10% 0 20% 0;
}

.what-we-do-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.what-we-do-card {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 9%;
  margin: 10% 0;
}

.what-we-do-card img {
  width: 248px;
  max-width: 100%;
  height: 176px;
  position: relative;
  top: -25px;
}

.what-we-do-card-heading {
  font-size: 1.125rem;
  font-weight: bold;
}

.what-we-do-card-description {
  font-size: 0.875rem;
  font-weight: 200;
  margin: 10% 0;
}

.what-we-do-card-button {
  padding: 4% 10%;
  margin-bottom: 10%;
  order: 1;
}

/* Did You Know Section */
.did-you-know-section {
  background-image: url("../assets/home/did-you-know-background.png");
  background-size: cover;
  padding: 8%;
}

.did-you-know-statement {
  color: var(--white);
  font-family: "Flood Std";
  font-size: 2.75rem;
  margin-right: 5%;
}

.take-action-today-button {
  padding: 2% 4%;
  margin: 5% 0% 15% 0;
}

.did-you-know-card-head {
  margin-bottom: -20px;
}

.did-you-know-card {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 8% 0;
  padding: 0 5% 5% 5%;
}

.did-you-know-card-content {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  /* padding: 5%; */
}

.did-you-know-card-text {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.did-you-know-card-stat {
  font-size: 1.375rem;
  font-weight: bold;
  margin: 5% 0;
}

.did-you-know-card-details {
  font-size: 0.875rem;
  font-weight: 200;
  margin: 5% 0;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 35px;
  gap: 15%;
  margin-left: 5%;
}

.facebook-logo,
.twitter-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #c1f7d5;
}

/* Stories Section */
.stories-section {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8%;
  position: relative;
}

.stories-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stories-image img {
  width: 100%;
}

.stories-head {
  position: absolute;
  top: 2%;
}

.stories-statement-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% 0;
}

.stories-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--dark-color);
  color: var(--white);
  padding: 10%;
}

.stories-statement {
  font-size: 1.375rem;
  font-weight: bold;
}

.stories-name {
  font-size: 0.6875rem;
  margin-top: 8%;
}

.stories-read-more {
  margin: 5% 0;
  padding: 3% 8%;
}

/* Updates Section*/
.updates-section {
  background-color: var(--dark-color);
  padding: 8%;
}

.updates-section-title {
  color: var(--white);
  font-size: 2.75rem;
  font-family: "Flood Std";
  text-align: center;
  padding: 2%;
}

.updates-section-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.updates-section-card-event,
.updates-section-card-meeting {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  margin-top: 5%;
}

.updates-section-card-event img,
.updates-section-card-meeting img {
  width: 100%;
}

.updates-section-card-event-title,
.updates-section-card-meeting-title {
  background-color: var(--white);
  color: var(--dark-color);
  top: 1rem;
}

.updates-section-card-event-heading,
.updates-section-card-meeting-heading {
  font-size: 1.375rem;
  font-weight: bold;
  margin: 8% 0;
}

.updates-section-card-event-description,
.updates-section-card-meeting-description {
  font-size: 0.875rem;
  font-weight: 200;
}

.updates-section-event-button,
.updates-section-meeting-button {
  padding: 2% 5%;
}

/* Newsletter Section */
.newsletter-section {
  padding: 8%;
  background-color: var(--light-green);
}

.newsletter-text {
  font-size: 1.375rem;
  font-weight: bold;
}

.newsletter-section input {
  width: 55%;
  font-size: 0.875rem;
  font-weight: 200;
  padding: 2% 3%;
  margin: 8% 2% 0 0;
  border: none;
  border-radius: 50px;
}

.subscribe-button {
  background-color: var(--dark-color);
  color: var(--light-green);
  padding: 2% 5%;
}

/* footer section */

.foot {
  background-color: var(--white);
  padding: 8%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  row-gap: 8%;
}

.foot-title {
  font-size: 1.125rem;
  font-weight: bold;
  align-self: flex-start;
}

.address {
  font-size: 0.875rem;
  font-weight: 200;
  line-height: 1.5;
}

.contact-us,
.foot-links p,
.social-links p {
  font-size: 0.6875rem;
  margin: 2% 0;
}

.address,
.foot-links a,
.social-links a {
  font-size: 0.875rem;
  font-weight: 200;
  margin: 2% 0;
}

.foot-links,
.social-links {
  display: flex;
  flex-direction: column;
}

.foot-tagline {
  text-align: end;
  margin-top: 8%;
  grid-column: 1 / 3;
}

.foot-tagline p {
  font-size: 2.75rem;
  font-family: "Flood Std";
}

/* Media Query for Tab Screens */
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  /* Header */
  .head {
    padding: 3% 8%;
    grid-template-columns: 2fr 1fr;
  }

  .heading {
    grid-column: 1 / 2;
    font-size: 1.375rem;
  }

  .pages {
    grid-row: 2 / 3;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
  }

  .pages a {
    font-size: 1rem;
    margin: 1%;
  }

  .donate-button {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    padding: 5% 2%;
  }

  /* The Issue Section */
  .the-issue-section {
    padding: 8%;
  }

  .the-issue-card {
    align-items: flex-start;
    text-align: start;
    padding: 0 10%;
  }

  .the-issue-card-description {
    font-size: 2.25rem;
    margin: 5% 0;
  }

  .the-issue-card-read-more {
    font-size: 1rem;
  }

  /* Take Action Section */

  .actions {
    column-gap: 16%;
    row-gap: 20%;
    margin: 10% 0 15% 0;
  }

  .action-head {
    font-size: 1.375rem;
  }

  .action-text {
    font-size: 1rem;
  }

  /* What we do section */

  .what-we-do-section {
    align-items: flex-start;
    text-align: start;
  }

  .what-we-do-description {
    font-size: 2.25rem;
    margin: 10% 0 6% 0;
  }

  .what-we-do-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    column-gap: 5%;
    padding: 0%;
    margin: 5% 0;
    position: relative;
  }

  .what-we-do-card img {
    position: relative;
    justify-self: right;
    top: -25%;
  }

  .what-we-do-card-text {
    grid-row: 1/3;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-self: start;
    margin-right: 10%;
    margin-top: 10%;
  }

  .what-we-do-card-heading {
    font-size: 1.375rem;
    font-weight: bold;
  }

  .what-we-do-card-description {
    font-size: 1rem;
    margin: 10% 0;
  }

  .what-we-do-card-button {
    padding: 4% 10%;
    margin-bottom: 5%;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    position: relative;
    top: -80%;
    width: 60%;
    justify-self: end;
  }

  /* Did You Know Section */
  .did-you-know-section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr 0.5fr 2fr;
    column-gap: 8%;
  }

  .did-you-know-statement {
    margin-top: 10%;
  }

  .take-action-today-button {
    padding: 0;
    margin: 12% 3%;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .did-you-know-cards {
    grid-row: 1 / 4;
  }

  .did-you-know-card {
    align-items: flex-start;
    margin: 8% 0;
    padding: 0 5% 5% 8%;
  }

  .did-you-know-card-stat {
    font-size: 2.25rem;
  }

  .did-you-know-card-details {
    font-size: 1rem;
  }

  /* Stories Section */
  .stories-section {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8%;
    position: relative;
  }

  .stories-image {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .stories-image img {
    width: 90%;
  }

  .stories-head {
    position: absolute;
    top: 3%;
    left: 15%;
  }

  .stories-statement-card {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    width: 90%;
    position: relative;
    top: -50px;
    right: -8%;
  }

  .stories-text {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    padding: 10%;
  }

  .stories-statement {
    font-size: 1.375rem;
    font-weight: bold;
  }

  .stories-name {
    font-size: 0.875rem;
    margin-top: 8%;
  }

  .stories-read-more {
    margin: 5% 0;
    padding: 3% 8%;
  }

  /* Updates Section*/
  .updates-section {
    padding: 8%;
  }

  .updates-section-title {
    width: 60%;
    color: var(--white);
    font-size: 2.75rem;
    font-family: "Flood Std";
    text-align: start;
    padding: 2%;
  }

  .updates-section-cards {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .updates-section-card-event {
    text-align: start;
    margin-top: 5%;
    display: grid;
    justify-content: flex-start;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 0.3fr;
    column-gap: 5%;
  }

  .updates-section-card-event img {
    grid-row: 1/4;
    grid-column: 1 / 2;
  }

  .updates-section-card-event-title {
    position: static;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .updates-section-card-event-heading {
    font-size: 1.75rem;
    font-weight: bold;
    margin: 2% 0;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .updates-section-card-event-description {
    font-size: 1rem;
    font-weight: 200;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }

  .updates-section-event-button {
    padding: 2% 5%;
    margin-right: 50%;
    grid-row: 4 / 5;
    grid-column: 2 / 3;
  }

  .updates-section-card-meeting {
    text-align: start;
    margin-top: 5%;
    display: grid;
    justify-content: flex-start;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 0.3fr;
    column-gap: 5%;
  }

  .updates-section-card-meeting img {
    grid-row: 1/4;
    grid-column: 2/3;
  }

  .updates-section-card-meeting-title {
    position: static;
    grid-row: 1 / 2;
    grid-column: 1/2;
  }

  .updates-section-card-meeting-heading {
    font-size: 1.75rem;
    font-weight: bold;
    margin: 2% 0;
    grid-row: 2 / 3;
    grid-column: 1/2;
  }

  .updates-section-card-meeting-description {
    font-size: 1rem;
    font-weight: 200;
    grid-row: 3 / 4;
    grid-column: 1/2;
  }

  .updates-section-meeting-button {
    padding: 2% 5%;
    margin-right: 50%;
    grid-row: 4 / 5;
    grid-column: 1/2;
  }

  /* Newsletter Section */

  .newsletter-text {
    width: 60%;
  }

  .newsletter-section input {
    width: 60%;
    padding: 2% 3%;
    margin: 5% 5% 0 0;
    border: none;
    border-radius: 50px;
  }

  .subscribe-button {
    background-color: var(--dark-color);
    color: var(--light-green);
    padding: 2% 8%;
  }

  /* footer section */

  .foot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 8%;
  }

  .foot-title {
    font-size: 1.375rem;
  }

  .address {
    font-size: 0.875rem;
    font-weight: 200;
    line-height: 1.5;
  }

  .social-links {
    grid-column: 2 / 3;
  }

  .foot-tagline {
    text-align: start;
    margin-top: 0;
    grid-column: 3 / 4;
  }
}

/* Media Query for Laptop/Desktop Screens */
@media only screen and (min-width: 1280px) {
  /* Header */
  .head {
    padding: 2% 11%;
    grid-template-columns: 2fr 3fr 2fr;
    gap: 0;
  }

  .heading {
    font-size: 1.375rem;
  }

  .pages {
    flex-direction: row;
    justify-content: space-around;
    margin-left: 0;
  }

  .donate-button {
    width: 70%;
    padding: 5%;
    grid-column: 3 / 4;
  }

  /* The Issue Section */
  .the-issue-section {
    padding: 11%;
    display: flex;
  }

  .the-issue-slogan {
    font-size: 4.5rem;
    order: 1;
    margin-left: 10%;
  }

  .the-issue-card {
    align-items: flex-start;
    text-align: start;
    padding: 0 5%;
    margin: 0;
    width: 50%;
  }

  .the-issue-card-description {
    font-size: 2.75rem;
    font-weight: bold;
    margin: 5% 0;
  }

  .the-issue-card-read-more {
    font-size: 1rem;
    margin: 5% 0 8% 0;
  }

  /* Take Action Section */
  .take-action {
    padding: 0 11%;
  }

  .actions {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5%;
    margin: 8% 0 10% 0;
  }

  .action-head {
    font-size: 1.75rem;
    margin-bottom: 4%;
  }

  .action-text {
    font-size: 1rem;
  }

  /* What we do section */

  .what-we-do-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    padding: 4% 11%;
  }

  .what-we-do-head {
    padding: 1% 4%;
  }

  .what-we-do-description {
    font-size: 2.75rem;
    margin: 10% 0 10% 0;
  }

  .what-we-do-cards {
    flex-direction: row;
  }

  .what-we-do-card {
    width: 29vw;
    padding: 0 2% 0 2%;
    margin: 5% 8% 0 0;
    position: relative;
  }

  .what-we-do-card img {
    width: 320px;
    max-width: 100%;
    height: 224px;
    max-height: 50%;
    align-self: start;
    position: absolute;
    top: -25%;
    right: -10%;
  }

  .what-we-do-card-text {
    margin-top: 50%;
  }

  .what-we-do-card-heading {
    font-size: 1.75rem;
    font-weight: bold;
  }

  .what-we-do-card-description {
    font-size: 1rem;
    font-weight: 200;
    margin: 10% 0;
  }

  .what-we-do-card-button {
    padding: 4% 10%;
    margin-bottom: 10%;
    order: 1;
  }

  /* Did You Know Section */
  .did-you-know-section {
    padding: 4% 11%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.2fr 0.5fr;
    column-gap: 8%;
  }

  .did-you-know-statement {
    font-size: 4.5rem;
    margin-top: 10%;
  }

  .take-action-today-button {
    font-size: 1.125rem;
    width: 60%;
    padding: 0;
    margin: 3% 0% 5% 0;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .did-you-know-cards {
    grid-row: 1 / 4;
  }

  .did-you-know-card {
    align-items: flex-start;
    margin: 8% 0;
    padding: 0 5% 5% 8%;
  }

  .did-you-know-card-stat {
    font-size: 2.25rem;
  }

  .did-you-know-card-details {
    font-size: 1rem;
  }

  /* Stories Section */
  .stories-section {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4% 11%;
    position: relative;
  }

  .stories-image {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    order: 1;
    margin-left: 50%;
  }

  .stories-image img {
    width: 100%;
  }

  .stories-head {
    padding: 1.5% 5%;
    position: absolute;
    top: 4%;
    left: 55%;
  }

  .stories-statement-card {
    width: 45%;
    align-items: flex-start;
    margin: 0;
    position: absolute;
    top: 20%;
  }

  .stories-text {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    padding: 8%;
  }

  .stories-statement {
    font-size: 1.75rem;
  }

  .stories-name {
    font-size: 0.6875rem;
    margin-top: 5%;
  }

  .stories-read-more {
    margin: 5% 0;
    padding: 3% 8%;
  }

  /* Updates Section*/
  .updates-section {
    padding: 4% 11%;
  }

  .updates-section-title {
    width: 60%;
    color: var(--white);
    font-size: 4.5rem;
    font-family: "Flood Std";
    text-align: start;
    padding: 2%;
  }

  .updates-section-cards {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .updates-section-card-event {
    text-align: start;
    margin-top: 5%;
    display: grid;
    justify-content: flex-start;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 0.3fr;
    column-gap: 8%;
  }

  .updates-section-card-event img {
    grid-row: 1/5;
    grid-column: 1 / 2;
  }

  .updates-section-card-event-title {
    position: static;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .updates-section-card-event-heading {
    font-size: 2.75rem;
    font-weight: bold;
    margin: 2% 0;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .updates-section-card-event-description {
    font-size: 1.25rem;
    font-weight: 200;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }

  .updates-section-event-button {
    padding: 3% 5%;
    margin-right: 50%;
    grid-row: 4 / 5;
    grid-column: 2 / 3;
  }

  .updates-section-card-meeting {
    text-align: start;
    margin-top: 5%;
    display: grid;
    justify-content: flex-start;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 0.3fr;
    column-gap: 8%;
  }

  .updates-section-card-meeting img {
    grid-row: 1/5;
    grid-column: 2 / 3;
  }

  .updates-section-card-meeting-title {
    position: static;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .updates-section-card-meeting-heading {
    font-size: 2.75rem;
    font-weight: bold;
    margin: 2% 0;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  .updates-section-card-meeting-description {
    font-size: 1.25rem;
    font-weight: 200;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  .updates-section-meeting-button {
    padding: 3% 5%;
    margin-right: 50%;
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }

  /* Newsletter Section */
  .newsletter-section {
    padding: 4% 11%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
  }
  .newsletter-text {
    font-size: 1.75rem;
  }

  .newsletter-section input {
    padding: 1% 3%;
    margin: 0;
    border: none;
    border-radius: 50px;
  }

  .subscribe-button {
    background-color: var(--dark-color);
    color: var(--light-green);
    padding: 1% 5%;
  }

  /* footer section */

  .foot {
    padding: 4% 11%;
    display: flex;
    justify-content: space-between;
  }

  .foot-title {
    font-size: 1.375rem;
    margin-right: 8%;
  }

  .address {
    font-size: 0.875rem;
    font-weight: 200;
    line-height: 1.5;
  }

  .foot-tagline {
    text-align: end;
    margin-top: 0;
    margin-left: 8%;
  }
}

